/alura-js-avancado-1/client/nbproject/private/
/alura-js-avancado-2/client/nbproject/private/
/alura-js-avancado-2/server/nbproject/private/
/alura-js-avancado-3/client/nbproject/private/
/alura-js-avancado-3/server/nbproject/private/
/alura-node-1/nbproject/private/
/alura-node-1/node_modules/